
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <h2><%=@landmark.name%></h2>

  Edit Landmark Name: <input type="text" name="landmark[name]" id="name" value="<%=@landmark.name%>">
  Edit Landmark Year Constructed: <input type="text" name="landmark[year_completed]" id="year_completed" value="<%=@landmark.year_completed.to_s%>">

  <input type="submit" name="submit" id="submit" value="Edit Landmark">
</form>
