<form action="/landmarks" method="POST">

  Create a new landmark
  Landmark Name: <input type="text" name="landmark[name]" id="landmark_name">
  Landmark Year Constructed: <input type="text" name="landmark[year_completed]" id="landmark_year_completed">

  <input type="submit" name="submit" id="submit" value="Create New Landmark">
</form>